.recipe-card {
  border-radius: 10px;

  background-color: #ccc;
  background-position: center;
  background-size: cover;

  height: 250px;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  h2,
  p {
    color: #ffffff;
  }

  .information {
    width: 100%;
    background-image: linear-gradient(transparent, black);
    padding: 10px 20px;
    border-radius: 10px;

    h2 {
      text-align: right;
      text-transform: capitalize;
      margin-bottom: 0;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .sub-information {
    display: flex;
    justify-content: flex-end;

    > p {
      padding-left: 15px;
      margin: 10px 0;
    }

    .icon {
      padding-right: 5px;
    }
  }
}
