@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

$heading: "Merriweather", serif;
$sub-heading: "Roboto", sans-serif;
$body: "Roboto", sans-serif;

$heading-color: #282828;
$body-color: #555;

h1,
h2 {
  font-family: $heading;
  color: $heading-color;
}

h3,
h4 {
  font-family: $sub-heading;
  color: $heading-color;
}

h5,
h6,
p,
li {
  font-family: $body;
  color: $body-color;
}

p {
  line-height: 22px;
}
