$primary-color: #b3cdd1;

$darkest-purple: #2c2a4a;
$dark-purple: #4f518c;
$purple: #907ad6;
$light-purple: #dabfff;

$light-green: #50d5b7;
$dark-green: #067d68;

$light-orange: #ed765e;
$dark-orange: #fea858;
