@import "../../styles/variables";
@import "../../styles/typography";

.shopping-list {
  margin: 20px;
}

.view-shopping-list {
  position: fixed;
  right: 10px;
  top: 20px;
  z-index: 11;

  cursor: pointer;

  background: $dark-purple;
  padding: 20px;
  border: none;
  border-radius: 40px;

  outline: none;

  .icon {
    font-size: 35px;

    path {
      fill: white;
    }
  }
}

.shopping-list-popup {
  position: fixed;
  right: 10px;
  top: 100px;

  max-width: 300px;
  max-height: calc(75vh - 30px);

  background-color: $darkest-purple;
  padding: 30px;
  border-radius: 10px;

  z-index: 11;

  h2 {
    margin-top: 0;
  }

  h2,
  h4,
  p,
  li {
    color: #f5f6f9;
  }
}

.shopping-items-container {
  overflow-y: scroll;
  max-height: calc(70vh - 30px);

  .shopping-items-recipes {
    padding-left: 0;
  }
  .shopping-items-recipe {
    list-style-type: none;
    margin: 10px 0;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;

    &__title {
      color: #f5f6f9;
      text-transform: capitalize;
    }

    &__delete {
      path {
        fill: $light-orange;
      }
    }
  }
  .shopping-items {
    padding-left: 0;
  }
  .shopping-item {
    list-style-type: none;
    margin: 10px 0;
    &__name {
      text-transform: capitalize;
    }
  }
}
