@import "styles/variables";
@import "styles/typography";

body {
  background-color: #f5f6f9;
  display: block;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.App {
  padding-top: 60px;
}

header {
  height: 60px;
  background-color: $darkest-purple;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}
