@import "styles/typography";

body {
  background-color: #f5f6f9;
  display: block;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

header {

  height: 60px;
  background-color: #B8BEDD;
}
